.flex-container{
    display: flex;
    justify-content: center;
}
.flex-box{
    font-family: Rubik, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.box-1{
    display: flex;
    line-height: 2rem;
}
.img1{
    display: flex;
    justify-content: center;
    background-size: cover;
}
.box-2{
    line-height: 2rem;
}
.box-3{
    line-height: 2rem;
}
.box-4{
    line-height: 2rem;
}
@media (min-width: 52em){
    .img1{
        width: 100%;
        height: 45%;
        margin-bottom: 1%;
    }
    .flex-box{
        margin-top: max(12% , 2rem);
    }
}
@media (max-width: 80em){
    .img1{
        width: 100%;
        height: 25%;
    }
    .flex-box{
        margin-top: 15%;
    }
}
@media (max-width: 70em) {
    .img1{
        width: 100%;
        height: 20%;
        overflow-x:hidden;
    }
}
@media (max-width: 60em) {
    .img1{
        width: 100%;
        height: 15%;
        overflow-x:hidden;
    }
    .flex-box{
        margin-top: 20%;
    }
}
@media (max-width: 45em) {
    .img1{
        width: 100%;
        height: 12%;
        overflow-x:hidden;
    }
    .flex-box{
        margin-top: 24%;
    }
}
@media (max-width: 35em) {
    .img1{
        width: 100%;
        height: 9%;
    }
    .flex-box{
        margin-top: 27%;
    }
}
@media (max-width: 28em) {
    .img1{
        width: 100%;
        height: 6%;
    }
    .flex-box{
        margin-top: 32%;
    }


}